<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/selecionar-cliente">Lista de Clientes</a></li>
                <li><a href="">Adicionar Clientes</a></li>
                <li><a href="">Deletar Clientes</a></li>
            </ul>
        </nav>
    </header>
    <aside>
        <img src="static/img/aside.png" alt="">  
    </aside>        <aside>
        <img src="static/img/aside.png" alt="">  
    </aside>
</body>
</html>