<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador</title>
</head>
<body>
    <header>
        <!--    logo do programa    -->
        <!--    MENU HAMBURGER  -->
    </header>
    
    <!-- link para assistir tutorial   -->
    
    <div>
    
    
    <!--  titulo do sistema  -->
    <h1>TransfeEasy</h1>
    
    <!--  substitulo  -->
    <h2>Transferencia de arquivos</h2>
    
    <!--  data boatao de data  -->

   <!-- <input type="date" id="dayCluster"><br><br>-->
    <!-- botao executar executar  -->
    <button>Executar</button>
    </div>

<script>
</script>
</body>
</html>