<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>selecionar-cliente</title>

    <!-- Carrega o arquivo CSS local  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<body>
    <h1>Lista de Clientes</h1>                                  <!--Cabeçalho-->
    <p>Data Cluster <input type="hidden" id="dayCluster"></p>   <!--caixa de texto para colocar data-->    
    <button id="ativarTabela">Mostrar clientes</button>         <!-- Botao mostrar clientes-->
    <div id="tabelaCliente" style="display: none";>             <!-- Formulario do banco de dados: Atribuir a div a tabela do pandas, style none esconde a div -->
        {{table | safe}}                                        <!-- Exiba a tabela HTML do dataframe do Python -->
    </div>

</body>
</html>
