<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>selecionar-cliente</title>

    <!-- Carrega o arquivo CSS local  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/selecionar-cliente">Lista de Clientes</a></li>
                <li><a href="">Adicionar Clientes</a></li>
                <li><a href="/excluir">Deletar Clientes</a></li>
            </ul>
        </nav>
    </header>
    <div class="content">
        <aside class="pg2">
            <img src="static/img/pagina2.jpeg" alt="">  
        </aside>

        <main>
            <form id="adicionarClienteForm" action="{{url_for('move')}}" method="post">
                <div>
                    <h1>TransferEasy</h1>
                    <p>___________________________</p><br>  
                    <h2>Lista  de Clientes</h2>
                </div>
            
                <!-- dia de cluster 1 -->
                <table class="dia1">
                    <thead>
                        <caption>Cluster Prefeitura Geral | Agendado para o dia 1</caption>
                        <tr>
                            <th>DataCluster</th>
                            <th>Nome</th>
                            <th>Origem</th>
                            <th>Destino</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>Cliente1</td>
                            <td>C:\Users\Igor\Desktop\Jettax\geral\dia1\Cliente_jettax1</td>
                            <td>C:\Users\Igor\Desktop\Cliente\Cliente1\</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>Cliente2</td>
                            <td>C:\Users\Igor\Desktop\Jettax\geral\dia1\Cliente_jettax2</td>
                            <td>C:\Users\Igor\Desktop\Cliente\Cliente2\</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>Cliente3</td>
                            <td>C:\Users\Igor\Desktop\Jettax\geral\dia1\Cliente_jettax3</td>
                            <td>C:\Users\Igor\Desktop\Cliente\Cliente3\</td>
                        </tr>
                    </tbody>
                </table>

                <!-- dia de cluster 2 -->
                <table class="dia2">
                    <thead>
                        <caption>Cluster Prefeitura Geral | Agendado para o dia 2</caption>
                        <tr>
                            <th>DataCluster</th>
                            <th>Nome</th>
                            <th>Origem</th>
                            <th>Destino</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>02</td>
                            <td>Cliente4</td>
                            <td>C:\Users\Igor\Desktop\Jettax\geral\dia2\Cliente_jettax4</td>
                            <td>C:\Users\Igor\Desktop\Cliente\Cliente4\</td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td>Cliente5</td>
                            <td >C:\Users\Igor\Desktop\Jettax\geral\dia2\Cliente_jettax5</td>
                            <td>C:\Users\Igor\Desktop\Cliente\Cliente5\</td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td>Cliente6</td>
                            <td>C:\Users\Igor\Desktop\Jettax\geral\dia2\Cliente_jettax6</td>
                            <td>C:\Users\Igor\Desktop\Cliente\Cliente6\</td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td>Cliente7</td>
                            <td>C:\Users\Igor\Desktop\Jettax\geral\dia2\Cliente_jettax7</td>
                            <td>C:\Users\Igor\Desktop\Cliente\Cliente7\</td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td>Cliente8</td>
                            <td>C:\Users\Igor\Desktop\Jettax\geral\dia2\Cliente_jettax8</td>
                            <td>C:\Users\Igor\Desktop\Cliente\Cliente8\</td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td>Cliente9</td>
                            <td>C:\Users\Igor\Desktop\Jettax\geral\dia2\Cliente_jettax9</td>
                            <td>C:\Users\Igor\Desktop\Cliente\Cliente9\</td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td>Cliente10</td>
                            <td>C:\Users\Igor\Desktop\Jettax\geral\dia2\Cliente_jettax10</td>
                            <td>C:\Users\Igor\Desktop\Cliente\Cliente10\</td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td>Cliente11</td>
                            <td>C:\Users\Igor\Desktop\Jettax\geral\dia2\Cliente_jettax11</td>
                            <td>C:\Users\Igor\Desktop\Cliente\Cliente11\</td>
                        </tr>
                    </tbody>
                </table>

                <!-- dia de cluster 3 -->
                <table class="dia3">
                    <thead>
                        <caption>Cluster Prefeitura Geral | Agendado para o dia 3</caption>
                        <tr>
                            <th>DataCluster</th>
                            <th>Nome</th>
                            <th>Origem</th>
                            <th>Destino</th>
                        </tr>
                    </thead>                
                    <tbody>
                        <tr>
                            <td>03</td>
                            <td>Cliente12</td>
                            <td>C:\Users\Igor\Desktop\Jettax\geral\dia3\Cliente_jettax12</td>
                            <td>C:\Users\Igor\Desktop\Cliente\Cliente12\</td>
                        </tr>
                        <tr>
                            <td>03</td>
                            <td>Cliente13</td>
                            <td>C:\Users\Igor\Desktop\Jettax\geral\dia3\Cliente_jettax13</td>
                            <td>C:\Users\Igor\Desktop\Cliente\Cliente13\</td>
                        </tr>
                        <tr>
                            <td>03</td>
                            <td>Cliente14</td>
                            <td>C:\Users\Igor\Desktop\Jettax\geral\dia3\Cliente_jettax14</td>
                            <td>C:\Users\Igor\Desktop\Cliente\Cliente14\</td>
                        </tr>
                        <tr>
                            <td>03</td>
                            <td>Cliente15</td>
                            <td>C:\Users\Igor\Desktop\Jettax\geral\dia3\Cliente_jettax15</td>
                            <td>C:\Users\Igor\Desktop\Cliente\Cliente15\</td>
                        </tr>
                        <tr>
                            <td>03</td>
                            <td>Cliente16</td>
                            <td>C:\Users\Igor\Desktop\Jettax\geral\dia3\Cliente_jettax16</td>
                            <td>C:\Users\Igor\Desktop\Cliente\Cliente16\</td>
                        </tr>
                        <tr>
                            <td>03</td>
                            <td>Cliente17</td>
                            <td>C:\Users\Igor\Desktop\Jettax\geral\dia3\Cliente_jettax17</td>
                            <td>C:\Users\Igor\Desktop\Cliente\Cliente17\</td>
                        </tr>
                        <tr>
                            <td>03</td>
                            <td>Cliente18</td>
                            <td>C:\Users\Igor\Desktop\Jettax\geral\dia3\Cliente_jettax18</td>
                            <td>C:\Users\Igor\Desktop\Cliente\Cliente18\</td>
                        </tr>
                        <tr>
                            <td>03</td>
                            <td>Cliente19</td>
                            <td>C:\Users\Igor\Desktop\Jettax\geral\dia3\Cliente_jettax19</td>
                            <td>C:\Users\Igor\Desktop\Cliente\Cliente19\</td>
                        </tr>
                        <tr>
                            <td>03</td>
                            <td>Cliente20</td>
                            <td>C:\Users\Igor\Desktop\Jettax\geral\dia3\Cliente_jettax20</td>
                            <td>C:\Users\Igor\Desktop\Cliente\Cliente20\</td>
                        </tr>
                        <tr>
                            <td>03</td>
                            <td>Cliente21</td>
                            <td>C:\Users\Igor\Desktop\Jettax\geral\dia3\Cliente_jettax21</td>
                            <td>C:\Users\Igor\Desktop\Cliente\Cliente21\</td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </main>
    </div>
</body>
</html>
