<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <!-- Carrega o jQuery e jQuery UI do CDN -->
        <script src="https://code.jquery.com/jquery-1.8.2.js"></script>
        <script src="https://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">            <!-- Carrega o arquivo CSS local  -->
</head>

<body>
    <header>
        <nav id = "menu">   <!-- MENU HAMBUGUER-->
            <a href="/"><img src="/static/img/icon.png" alt="icon"></a>
            <li><a href="/">HOME</a></li>
            <li><a href="selecionar-cliente">LISTA DE CLIENTES</a></li>
            <li><a href="adicionar-cliente">ADICIONAR CLIENTES</a></li>
            <li><a href="excluir">DELETAR CLIENTES</a></li>
        </nav>
    </header>
    
    <h1> DELETAR CLIENTES</h1>
     
    <form method="POST" action="/excluir">
        <input type="hidden" name="action" value="selectData">
        Data Cluster <input type="text" id="dayCluster" name="dayCluster">     <!--caixa de texto para colocar data--> 
        <button id= "filtroBt" type="submit">Buscar cliente</button><br>
    </form>



    <form method="POST" action="/excluir">
        <input type="hidden" name="action" value="deleteClient">
        <label for="idClient">Id Cliente</label>
        <p id="idClient"></p>
        <input type="text" id="idClientInput" name="idClient">    <!-- Adicione um campo de entrada oculto para enviar o ID do cliente -->
        <button type="submit">Excluir cliente</button>
    </form>

<!--LISTA DE CLIENTES-->
    <h1>Lista de Clientes</h1>                                  <!--Cabeçalho-->
    <div id="tabelaCliente" style="display: block";>                 <!-- Formulario do banco de dados: Atribuir a div a tabela do pandas, style none esconde a div -->
        {{table | safe}}                                        <!-- Exiba a tabela HTML do dataframe do Python -->
    </div>



<!---------------------------------------------------------------------------------------------->
    <script>// Selecionar ID
        document.addEventListener("DOMContentLoaded", function() {
            var cellsFirstColumn = document.querySelectorAll("#tabelaCliente tr td");    // Selecione todas as células da primeira coluna
            
            cellsFirstColumn.forEach(function(cell) {                               // Adicione um evento de clique a cada célula da primeira coluna
                cell.addEventListener("click", function() {                         // Obtenha o texto da célula clicada
                    var cellText = this.textContent.trim();                         // Atribua o texto da célula ao elemento de entrada
                    var paragraph = document.getElementById("idClient");
                    paragraph.textContent = cellText;
                    document.getElementById("idClientInput").value = cellText;       // Atualize o valor do campo de entrada oculto com o ID do cliente
                });
            });
        });
    </script>


    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script>var buttonImageURL = "{{ url_for('static', filename='img/calender.png') }}";</script>   <!-- Importar notas -->
    
</body>
</html>
